@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: var(--font-sans);
}

.with-star::after {
  content: "";
  position: absolute;
  left: 8rem;
  top: 50%;
  width: 1.25rem;
  height: 1.25rem;
  background: url("/star.svg") center / contain no-repeat;
  transform: translate(-50%, -50%);
}
