@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: var(--font-sans);
}

.with-star::after {
  content: "";
  position: absolute;
  left: 8rem;
  top: 50%;
  width: 1.25rem;
  height: 1.25rem;
  background: url("/star.svg") center / contain no-repeat;
  transform: translate(-50%, -50%);
}

.super-fixed {
  position: fixed !important;
}

.blind-shutter {
  --open: 1; /* 1=open, 0=closed */
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 1) calc(var(--open) * 100%),
    rgba(0, 0, 0, 0) calc(var(--open) * 100%)
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 1) calc(var(--open) * 100%),
    rgba(0, 0, 0, 0) calc(var(--open) * 100%)
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  will-change:
    mask-image,
    -webkit-mask-image;
}
